.Welcome {
  background-color: rgb(128, 128, 128);
  box-shadow: inset 0 0 10rem 0.75rem rgb(255, 255, 255);
  height: 100vh;
  position: relative;
}

.Welcome div {
  background-color: rgb(175, 175, 175);
  box-shadow: inset 0 0 0.75rem 0.75rem rgb(128, 128, 128);
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Welcome button {
  background-color: transparent;
  border-width: 0px;
  font-size: 2rem;
  height: 5rem;
  width: 15rem;
}

.FadeOut {
  animation: fadeOut 500ms;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.FadeIn {
  animation: fadeIn 500ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
